a:hover {
  cursor: pointer;
}

.header_wrapper {
  width: 100%;
  max-width: 1170px;
  max-height: 54px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 203px;
}
.header_wrapper .logo {
  width: 100%;
  max-width: 241px;
  cursor: pointer;
  z-index: 2;
}
.header_wrapper .nav_wrapper {
  width: 100%;
  max-width: 515px;
}

.nav_list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav_list .nav_item {
  z-index: 2;
}
.nav_list .nav_link {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  text-transform: uppercase;
}

.social_list {
  width: 160px;
  height: 100%;
  max-height: 40px;
  max-width: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0;
  cursor: pointer;
}
.social_list .social_item {
  width: 40px;
  height: 40px;
  z-index: 2;
}

.header_slider {
  max-width: 1290px;
  max-height: 140px;
  margin: 0 auto;
  padding-bottom: 320px;
}

.slider_main_text {
  font-family: "Montserrat", sans-serif;
  font-size: 77px;
  font-weight: 700;
  line-height: 98px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #FFFFFF;
  padding-top: 60px;
}

.slider_second_text {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.3em;
  text-align: center;
  color: #FFFFFF;
}

.slick-dots {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  position: absolute;
  top: 0;
  right: 0;
}

.slick-dots button {
  font-size: 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #FFFFFF;
  outline: none;
  background-color: transparent;
}

.slick-dots li.slick-active button {
  background-color: #FFFFFF;
}

.header_arrow {
  text-align: center;
}
.header_arrow .arrow_img {
  width: 100%;
  max-width: 40px;
  z-index: 2;
}