@import 'state';

.header_wrapper {
    width: 100%;
    max-width: 1170px;
    max-height: 54px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 203px;
    

    .logo {
        width: 100%;
        max-width: 241px;
        cursor: pointer;
        z-index: 2;
    }

    .nav_wrapper {
        width: 100%;
        max-width: 515px;
    }
}

.nav_list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    .nav_item {
        z-index: 2;
    }


    .nav_link {
        @include nav_item
        

    }
}

.social_list {
    width: 160px;
    height: 100%;
    max-height: 40px;
    max-width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0;
    cursor: pointer;
    // position: absolute;
    // left: 50%;
    // transform: translateX(-50%);

    .social_item {
        width: 40px;
        height: 40px;
        z-index: 2;
    }
}

.header_slider {
    // max-width: 1290px;
    // max-height: 140px;
    margin: 0 auto;
    margin: 0 55px;
    padding-bottom: 130px;
    display: block;
    position: relative;
}

.slider_main_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 77px;
    font-weight: 700;
    line-height: 98px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #FFFFFF;
    padding-top: 60px;


}

.slider_second_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.3em;
    text-align: center;
    color: #FFFFFF;

}
.slick-dots {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    position: absolute;
    top: 0;
    right: 0;
}

.slick-dots button {
    font-size: 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #FFFFFF;
    outline: none;
    background-color: transparent;


}

.slick-dots li.slick-active button{
    background-color: #FFFFFF;
}
.header_arrow {
    text-align: center;
    z-index: 2;

    .header_link {
        z-index: 2;
    }

    .arrow_img {
        width: 100%;
        max-width: 40px;
        z-index: 2;
        padding-bottom: 160px;
    }
}

///section project


.project_title {
    @include project_title;
    text-align: center;
    position: relative;
    margin-top: 130px;
    margin-bottom: 90px;

}

.project_title::before {
    content: "";
    border: 1px solid #2C4058;
    display: inline-block;
    position: absolute;
    height: 0.1px;
    width: 100px;
    left: 50%;
    top: -30px;
    transform: translateX(-50%);

}


.project_img {
    width: 100%;
    max-width: 630px;
    max-height: 470px;
    position: relative;
}

.project_img::after {
    content: "";
    width: 630px;
    height: 470px;
    background-color: aqua;
    position: absolute;
    top: 20px;
    left: 20px;
}

.project_sec_first {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 70px;

        .sec_first_pre_title {
            font-family: 'Montserrat', sans-serif;
            font-size: 22px;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 0em;
            text-align: left;

        }

        .sec_first_title {
            @include project_title;
            padding-bottom: 19px;
        }

        .sec_first_text {
            display: block;
            @include project_text;
            max-width: 470px;
            max-height: 81px;
            margin-bottom: 40px;
        }

        .sec_first_link{
            padding: 25px 85px;
            text-align: center;
            border: 1px solid #2C4058;
            @include button_text;
            margin-bottom: 60px;
        }

        .sec_first_link_location {
            display: block;
            @include location_text;
        }
        
}