@mixin nav_item {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;
        text-transform: uppercase;
       
    
}

a:hover {
        cursor: pointer;
}

@mixin project_title {
        font-family: 'Montserrat', sans-serif;
        font-size: 44px;
        font-weight: 700;
        line-height: 54px;
        letter-spacing: 0em;
        text-align: left;
        color: #2C4058;

}

@mixin project_text {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color: #2C4058;
}

@mixin button_text {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        color: #000000;
        
}

@mixin location_text {
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        font-style: italic;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;

}