body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body * {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  cursor: pointer;
}

button {
  margin: 0;
  padding: 0;
}

span {
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

img {
  margin: 0;
  padding: 0;
  display: inline;
}

.main_wrapper {
  position: relative;
  background: linear-gradient(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  max-width: 1600px;
  padding-top: 50px;
  margin: 0 auto;
}
.main_wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(../img/tu-tram-pham-202263.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.project_wrapper {
  height: 100%;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

a:hover {
  cursor: pointer;
}

.header_wrapper {
  width: 100%;
  max-width: 1170px;
  max-height: 54px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 203px;
}
.header_wrapper .logo {
  width: 100%;
  max-width: 241px;
  cursor: pointer;
  z-index: 2;
}
.header_wrapper .nav_wrapper {
  width: 100%;
  max-width: 515px;
}

.nav_list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav_list .nav_item {
  z-index: 2;
}
.nav_list .nav_link {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  text-transform: uppercase;
}

.social_list {
  width: 160px;
  height: 100%;
  max-height: 40px;
  max-width: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0;
  cursor: pointer;
}
.social_list .social_item {
  width: 40px;
  height: 40px;
  z-index: 2;
}

.header_slider {
  margin: 0 auto;
  margin: 0 55px;
  padding-bottom: 130px;
  display: block;
}

.slider_main_text {
  font-family: "Montserrat", sans-serif;
  font-size: 77px;
  font-weight: 700;
  line-height: 98px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #FFFFFF;
  padding-top: 60px;
}

.slider_second_text {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.3em;
  text-align: center;
  color: #FFFFFF;
}

.slick-dots {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  position: absolute;
  top: 0;
  right: 0;
}

.slick-dots button {
  font-size: 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #FFFFFF;
  outline: none;
  background-color: transparent;
}

.slick-dots li.slick-active button {
  background-color: #FFFFFF;
}

.header_arrow {
  text-align: center;
  z-index: 2;
}
.header_arrow .header_link {
  z-index: 2;
}
.header_arrow .arrow_img {
  width: 100%;
  max-width: 40px;
  z-index: 2;
  padding-bottom: 160px;
}

.project_title {
  font-family: "Montserrat", sans-serif;
  font-size: 44px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: left;
  color: #2C4058;
  text-align: center;
  position: relative;
  margin-top: 130px;
  margin-bottom: 90px;
}

.project_title::before {
  content: "";
  border: 1px solid #2C4058;
  display: inline-block;
  position: absolute;
  height: 0.1px;
  width: 100px;
  left: 50%;
  top: -30px;
  transform: translateX(-50%);
}

.project_img {
  width: 100%;
  max-width: 630px;
  max-height: 470px;
}

.project_sec_first {
  display: flex;
  align-items: center;
  gap: 70px;
}
.project_sec_first .sec_first_pre_title {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}
.project_sec_first .sec_first_title {
  font-family: "Montserrat", sans-serif;
  font-size: 44px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: left;
  color: #2C4058;
  padding-bottom: 19px;
}
.project_sec_first .sec_first_text {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #2C4058;
  max-width: 470px;
  max-height: 81px;
  margin-bottom: 40px;
}
.project_sec_first .sec_first_link {
  padding: 25px 85px;
  text-align: center;
  border: 1px solid #2C4058;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  color: #000000;
  margin-bottom: 60px;
}
.project_sec_first .sec_first_link_location {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

a:hover {
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */