.nav-section__item:hover {
  color: #18B5DC;
}

.button__primary:hover {
  background-color: #18B5DC;
  border: 1px solid #18B5DC;
  color: #ffffff;
}

.img__fake:hover {
  opacity: 1;
}
.img__fake:hover .icon:hover {
  color: #18B5DC;
  background-color: #ffffff;
}

.img__fake-norm:hover {
  opacity: 1;
}
.img__fake-norm:hover .icon:hover {
  color: #18B5DC;
  background-color: #ffffff;
}

.footer-section__item:hover {
  color: #18B5DC;
}

.icon_footer:hover {
  background: #18B5DC;
  color: #fff;
}