body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body * {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
}

span {
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

img {
  margin: 0;
  padding: 0;
}

.heading {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  max-height: 80px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.body {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  background-color: #F6F6F6;
  padding-bottom: 39px;
}

.footer {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  max-height: 260px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.logo {
  width: 100%;
  height: 100%;
  max-width: 170px;
  max-height: 60px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.logo .logo__link {
  display: flex;
  align-items: center;
}
.logo .logo__img {
  display: inline-block;
  width: 100%;
  height: 100%;
  max-width: 62px;
  max-height: 60px;
}
.logo .logo__text {
  display: inline-block;
  width: 100%;
  height: 100%;
  max-height: 43px;
  max-width: 102px;
  font-family: "Train One", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.43;
  color: #282528;
}

.nav-section {
  width: 100%;
  height: 100%;
  max-width: 417px;
  max-height: 24px;
  display: inline-block;
}
.nav-section__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.nav-section__item {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

.nav-section__button {
  display: inline-block;
}
.nav-section__button .button__primary {
  width: 130px;
  height: 42px;
  border: 1px solid #3C3C3C;
  background-color: #fff;
}
.nav-section__button .button__text {
  width: 92px;
  height: 22px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  cursor: pointer;
}

.body__title {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}
.body__title .body__hello {
  width: 100%;
  height: 100%;
  max-width: 368px;
  max-height: 34px;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 1.21;
  text-align: center;
  letter-spacing: 0.13em;
  color: #3C3C3C;
  padding-top: 150px;
  padding-bottom: 64px;
}
.body__title .body__text {
  width: 100%;
  height: 100%;
  max-width: 570px;
  max-height: 42px;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #3C3C3C;
}

.content__list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.content__list .content__item {
  display: block;
  position: relative;
}
.content__list .img__fake {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #18B5DC;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}
.content__list .img__fake .icon {
  display: inline-block;
  width: 42px;
  height: 42px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  border: 1px solid #18B5DC;
  margin-left: 4px;
  color: #FFFFFF;
  background-color: #5DCBE6;
}
.content__list .fake__link {
  position: absolute;
  top: 107px;
  left: 11px;
}
.content__list .content__img {
  display: block;
  width: 100%;
  max-width: 270px;
  max-height: 270px;
  height: 100%;
  padding-bottom: 20px;
}
.content__list .img__name {
  display: block;
  width: 170px;
  height: 21.46px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  color: #282528;
}
.content__list .img__coment {
  display: block;
  width: 170px;
  height: 21.46px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.2;
  color: #646464;
}

.morty_img {
  padding: 10px;
}

.fake__link-norm {
  position: absolute;
  top: 104px;
  left: 52px;
}

.img__fake-norm {
  max-width: 250px;
  max-height: 250px;
  position: absolute;
  background-color: #18B5DC;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}
.img__fake-norm .icon {
  display: inline-block;
  width: 42px;
  height: 42px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  border: 1px solid #18B5DC;
  margin-left: 4px;
  color: #FFFFFF;
  background-color: #5DCBE6;
}

.logo__footer {
  margin-bottom: 25px;
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  max-width: 384px;
  max-height: 22px;
  margin-bottom: 28px;
}

.footer-section__item {
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #3C3C3C;
}

.list-nav__footer {
  width: 100%;
  height: 100%;
  max-width: 384px;
  max-height: 22px;
  display: flex;
  justify-content: space-between;
}

.list__soc {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.icon_footer {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  width: 42px;
  height: 42px;
  border: 1px solid #18B5DC;
  background: #fff;
  color: #18B5DC;
  margin-bottom: 40px;
  cursor: pointer;
}

.nav-section__item:hover {
  color: #18B5DC;
}

.button__primary:hover {
  background-color: #18B5DC;
  border: 1px solid #18B5DC;
  color: #ffffff;
}

.img__fake:hover {
  opacity: 1;
}
.img__fake:hover .icon:hover {
  color: #18B5DC;
  background-color: #ffffff;
}

.img__fake-norm:hover {
  opacity: 1;
}
.img__fake-norm:hover .icon:hover {
  color: #18B5DC;
  background-color: #ffffff;
}

.footer-section__item:hover {
  color: #18B5DC;
}

.icon_footer:hover {
  background: #18B5DC;
  color: #fff;
}/*# sourceMappingURL=index.css.map */