a {
    color: inherit;
  text-decoration: none;
}



.main_box {
        position: relative;
        margin: 150;
        width: 500px;
        height: 500px;
        background-color: blueviolet;
}



.first_box {
        width: 200px;
        height: 200px;
        background-color: brown;
}

.second_box {
    position: absolute;
    opacity: 0;
    width: 180px;
        height: 180px;
        
    
}

.icon {
  width: 100%;
  height: 100%;
  max-width: 40px;
  max-height: 40px;
  border: 1px solid #E0E0E0;
  padding: 10px;
  border-radius: 16px;
  background-color: #E0E0E0;
  position: absolute;
    right: 5px;
    top: 5px;
}

.icon-linkedin {
  position: absolute;
    left: 5px;
    top: 5px;
}

.second_box:hover {
  opacity: 1;
}

.icon:hover {
  color: chartreuse;
  background-color: cornflowerblue;
}

.icon-linkedin:hover {
  color: #00ffbf;
  background-color: #ed7964;
}