// header
.header_content {
    width: 100%;
    height: 100%;
    max-width: 1440px;
    max-height: 80px;
    padding: 17px 120px;
    
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: inline-block;
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 32px;
    cursor: pointer;
    
    
    .logo_link {
        display: flex;
        align-items: flex-end
    
    }

    .logo_img {
        width: 100%;
        height: 100%;
        max-width: 33.83px;
        max-height: 31.94px;
    }

    .logo_text {
        display: inline-block;
        font-size: 26px;
        font-weight: 700;
        line-height: 1.02;
        margin-left: 11.94px;
    }
}

.main_nav {
    width: 100%;
    height: 100%;
    max-width: 352px;
    max-height: 28px;
    display: inline-block;


    .nav_list {
        display: flex;
        text-align: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        max-width: 352px;
        max-height: 28px;
        gap: 20px;
        
        .nav_item {
            display: inline-block;
            font-size: 16px;
            line-height: 1.75;
            color: #2F281E;
            cursor: pointer;

        }

    }
}

.nav_button {
    width: 100%;
    height: 100%;
    max-width: 256px;
    max-height: 46px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: space-between;
    
        .button {
            font-size: 16px;
            line-height: 1.25;
            font-weight: 600;
            width: 110px;
            height: 46px;
            color: #FFFFFF;
            background-color: #FF9900;
            border: 0 solid #FF9900;
            border-radius: 1px;
            cursor: pointer;
}

        .grey {
            color: #2F281E;
            background-color: #FFFFFF;
            border: 1px solid #BCD0E5;
        
        }
}

// first section
.hero {
    display: flex;
    justify-content: space-between;
    
    
}

.hero_left-section {
    width: 45%;
    max-width: 556px;
    max-height: 495px;
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .hero_title {
            display: inline-block;
            width: 100%;
            max-width: 500px;
            max-height: 110px;
            font-size: 44px;
            font-weight: 700;
            line-height: 1.23;
            letter-spacing: 0px;
            text-align: left;
            margin-bottom: 30px;
        }

    .hero_text {
        width: 100%;
        max-width: 500px;
        max-height: 91px;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.56;
        letter-spacing: 0px;
        text-align: left;
        margin-bottom: 20px;

    }
}

.hero_right-section {
    width: 55%;
    max-width: 644px;
    max-height: 495px;

        .hero_img {
            width: 100%;
            height: 100%;
            max-width: 644px;
            max-height: 495px;
        }
}

.big {
    width: 180px;
    height: 50px;
    color: #FFFFFF;
    background-color: #FF9900;
    border: 0 solid #FF9900;
    border-radius: 1px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0px;
    text-align: center;

}

// section feature

.futures {


    .futures_main-text {
        width: 100%;
        max-width: 539px;
        max-height: 88px;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.22;
        letter-spacing: 0px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .futures_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
       

        .futures_item {
            width: 100%;
            max-width: 270px;
            max-height: 52px;
            display: inline-block;
            margin-bottom: 170px;

                .futures_title {
                    display: inline-block;
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 1.22px;
                    letter-spacing: 0px;
                    text-align: left;
                    color: #2F281E;
                    margin-bottom: 16px;
                    
                }
                
                .futures_text {
                    display: inline-block;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 1.6;
                    letter-spacing: 0px;
                    text-align: left;
                    color: #544837;
                    
                }
        
}
    }
}
.fake_img {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background-color: #7752BE;
    display: flex;
    margin-bottom: 30px;
}

.futures_button {
    display: flex;
    justify-content: center

}

// benefits section

.benefits_left {
    width: 50%;
    max-width: 525px;
    max-height: 573px;
    display: flex;
    flex-direction: column;
    padding: 20px 0;

    .benefits_text {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.625;
        letter-spacing: 0px;
        text-align: left;
        color: #544837;
    }


    .benefits_list li {
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.625;
        letter-spacing: 0px;
        text-align: left;
        color: #544837;
        margin-bottom: 30px;

    }

    .benefits_title-main {
        display: inline-block;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.22;
        letter-spacing: 0px;
        text-align: left;  
        color: #2F281E;  
        margin-bottom: 20px; 

    }

    .benefits_title {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.625;
        letter-spacing: 0px;
        text-align: left;
        margin-bottom: 10px;
        color: #2F281E;

    }
}

.text_mardgin {
    margin-bottom: 40px;
}

.benefits_right {
    width: 50%;

        .benefits_img {
            width: 100%;
            height: 100%;
            max-width: 562px;
            max-height: 573px;

    }
}

// product section

.product_left {
    width: 100%;

        .product_img {
            width: 100%;
            height: 100%;
            max-width: 570px;
            max-height: 519.2px;
        }
}

.product_right {
    width: 50%;
    max-width: 505px;
    max-height: 424px;
    display: inline-block;

        .product_img_chek {
            display: block;
            width: 35px;
            height: 35px;
            margin-right: 30px;
            
        }

        .produck_item {
            display: flex;
            align-items: center;
        }

        .product_text {
            font-size: 16px;
            font-weight: 500;
            line-height: 1.625;
            letter-spacing: 0px;
            text-align: left;
            color: #544837;
        }

        .product_title-main {
            display: inline-block;
            font-size: 36px;
            font-weight: 700;
            line-height: 1.22;
            letter-spacing: 0px;
            text-align: left;  
            color: #2F281E;
            margin-bottom: 20px;
        }

        .product_title {
            font-size: 16px;
            font-weight: 700;
            line-height: 1.625;
            letter-spacing: 0px;
            text-align: left;
            margin-bottom: 10px;
            color: #2F281E;

    }

        .product_list li {
            font-size: 16px;
            font-weight: 500;
            line-height: 1.625;
            letter-spacing: 0px;
            text-align: left;
            color: #544837;
            margin-bottom: 30px;}
}

// footer section

.footer_form {
    max-width: 340px;
    max-height: 207px;
    display: flex;
    flex-direction: column;
    gap: 20px;

       

        .footer_input {
            width: 100%;
            height: 100%;
            height: 50px;
            color: #BCD0E5;
            outline: none;
            padding: 0 0 0 10px;
            opacity: 0.5;
        }

}

.footer_text {
            font-size: 20px;
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: 0px;
            text-align: left;
            width: 300px;

        }

.footer_nav {
    // width: 100%;
    // height: 100%;
    // max-width: 200px;
    // max-height: 100px;

}

.footer_item {
    padding-bottom: 15px;
}

.margin {
    margin-right: 100px;
}