.header_wrapper {
    width: 100%;
    // height: 100%;
    // height: 832px;
    background-image: url(../images/HeaderBackground.jpg);
    background-repeat: no-repeat;
    background-size: inherit;
}