body, html {
  margin: 0;
  padding: 0;
}

body * {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  margin: 0;
  padding: 0;
}

span {
  margin: 0;
  padding: 0;
}

img {
  margin: 0;
  padding: 0;
}

nav {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  max-height: 100px;
  padding: auto 135px;
}

.hero {
  height: 100%;
  width: 100%;
  max-width: 1440px;
  height: 600px;
  background: url(../image/bg-image.jpg);
  margin-bottom: 90px;
}

.blog {
  height: 100%;
  width: 100%;
  max-width: 1170px;
  height: 1104px;
  margin: auto;
  margin-bottom: 120px;
}

.posts {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.popular {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.info {
  width: 100%;
  max-width: 1170px;
  max-height: 192px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 90px;
}

.footer {
  width: 100%;
  max-width: 1440px;
  background-color: #F4F4F4;
}

.logo {
  display: inline-block;
  height: 100%;
  width: 100%;
  max-width: 142px;
  max-height: 12px;
  margin: 30px 0 30px 55px;
  font-size: 0;
  margin-right: 330px;
}

.nav_box, .nav {
  display: inline-block;
  height: 100%;
  width: 100%;
  max-width: 500px;
  max-height: 18px;
  font-size: 0;
  margin-right: 84px;
}
.nav_box .nav_list, .nav .nav_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.nav_box .nav_list .nav_link, .nav .nav_list .nav_link {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  letter-spacing: 0.3em;
  text-align: center;
  cursor: pointer;
}

.header_search {
  display: inline-block;
  height: 100%;
  width: 100%;
  max-width: 16px;
  max-height: 17px;
}

.header_box {
  width: 100%;
  height: 100%;
  max-width: 1170px;
  max-height: 100px;
  margin: auto;
}

.hero-text {
  display: inline-block;
  padding-top: 100px;
  padding-left: 135px;
  font-family: "Red Hat Display", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.05em;
  text-align: left;
  width: 850px;
}

.blog_section-first {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-top: 50px;
}

.section-first_text {
  display: inline-block;
}
.section-first_text .blog_text {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.69;
  letter-spacing: 0.05em;
  text-align: left;
  color: #565656;
}
.section-first_text .blog_title {
  font-family: "Red Hat Display", sans-serif;
  font-size: 23px;
  font-weight: 500;
  line-height: 1.65;
  letter-spacing: 0.1em;
  text-align: left;
}
.section-first_text .size_l {
  padding-bottom: 30px;
}
.section-first_text .size_s {
  padding-bottom: 50px;
}
.section-first_text .size_m {
  padding-bottom: 15px;
  width: 370px;
}
.section-first_text .blog_text-size {
  width: 455px;
}
.section-first_text .blog_link {
  max-width: 30px;
  padding-left: 10px;
}

.blog_blog {
  font-family: "Red Hat Display", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.05em;
  text-align: left;
  padding-bottom: 50px;
}

.blog_first-img {
  display: block;
  height: 50%;
  width: 50%;
  max-width: 570px;
  max-height: 470px;
}

.blog_section-second {
  display: flex;
  justify-content: flex-end;
}

.post_title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post_title .post_size_1 {
  display: inline-block;
  text-align: left;
}
.post_title .post_size_2 {
  text-align: right;
}
.post_title .posts_main-text {
  font-family: "Red Hat Display", sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.64;
  letter-spacing: 0.1em;
  margin-bottom: 50px;
}
.post_title .posts_text {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.68;
  letter-spacing: 0.1em;
  color: #7B7B7B;
  margin-bottom: 50px;
}
.post_title .posts_link {
  max-width: 30px;
  padding-left: 10px;
}

.posts_article, .popular_article {
  width: 100%;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 30px;
  margin-bottom: 112px;
}
.posts_article .posts_img, .popular_article .posts_img {
  width: 100%;
  max-width: 370px;
  padding-bottom: 25px;
}
.posts_article .img_text, .popular_article .img_text {
  display: flex;
  justify-content: space-between;
}
.posts_article .posts_text, .popular_article .posts_text {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.69;
  letter-spacing: 0.05em;
  text-align: left;
}
.posts_article .post_size_3, .popular_article .post_size_3 {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.1em;
  text-align: left;
  padding-bottom: 25.69px;
  color: #7B7B7B;
}
.posts_article .posts_title, .popular_article .posts_title {
  font-family: "Red Hat Display", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.68;
  letter-spacing: 0.1em;
  text-align: left;
  color: #565656;
  padding-bottom: 20px;
}

.popular_img {
  width: 100%;
  max-width: 570px;
  padding-bottom: 20px;
}

.popular_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 30px;
  margin-bottom: 54px;
}

.button_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.button_box .popular_button {
  width: 100%;
  width: 180px;
  height: 46px;
  background-color: #565656;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.68;
  letter-spacing: 0.1em;
  text-align: center;
  margin-bottom: 90px;
}

.info_l_section {
  width: 100%;
  max-width: 470px;
}
.info_l_section .info_title {
  font-family: "Red Hat Display", sans-serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 1.65;
  letter-spacing: 0.1em;
  text-align: left;
}

.info_r_section {
  width: 100%;
  max-width: 470px;
}
.info_r_section .info_text {
  font-family: "Lato", sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.68;
  letter-spacing: 0.05em;
  text-align: left;
  color: #565656;
}

.info_size_1 {
  padding-bottom: 30px;
}

.footer_section {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer_contact {
  width: 100%;
  max-width: 540px;
}
.footer_contact .footer_title {
  font-family: "Red Hat Display", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.05em;
  text-align: left;
  padding-bottom: 30px;
}
.footer_contact .footer_link {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.69;
  letter-spacing: 0.1em;
  text-align: left;
  display: block;
}
.footer_contact :nth-child(2) {
  padding-bottom: 15px;
}
.footer_contact :nth-child(3) {
  padding-bottom: 25px;
}

.footer_social {
  width: 100%;
  max-width: 529px;
  text-align: -webkit-right;
}
.footer_social .social_box {
  width: 100%;
  max-width: 269px;
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer_social .icon {
  width: 50px;
  height: 50px;
  border: 1px solid #565656;
  color: #565656;
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  padding: 10px;
}
.footer_social .twit {
  color: #565656;
}

.footer_text {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.1em;
  text-align: center;
  margin-bottom: 30px;
}

.nav_link:hover {
  text-decoration: underline;
}

.icon:hover {
  color: #FFFFFF;
  background-color: #565656;
}

@media screen and (max-width: 1366px) {
  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: -1000px;
    top: 0;
    bottom: 0;
    width: 80%;
    max-width: 500px;
    background-color: #0099ff;
    transition: all 5s ease;
  }
  .flex li {
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    outline: 1px solid;
  }
}/*# sourceMappingURL=index.css.map */